<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <header id="header">
      <div class="container">
        <h1>EXAMINATION</h1>
      </div>
    </header>

    <div class="container">
      <div class="alert alert-danger mt-5">
        <strong>!! Student with matric number: <%= matric[0] %><%= matric[1] %>/<%=
          matric[2] %><%= matric[3] %><%= matric[4] %><%= matric[5] %>, has
          already written this exam</strong>

  </body>
</html>
